In [1031]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [1032]:
df = pd.read_csv("data\genz_slang_usage_2020_2025.csv")

<>:1: SyntaxWarning: "\g" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\g"? A raw string is also an option.
<>:1: SyntaxWarning: "\g" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\g"? A raw string is also an option.
C:\Users\marco\AppData\Local\Temp\ipykernel_6044\388960887.py:1: SyntaxWarning: "\g" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\g"? A raw string is also an option.
  df = pd.read_csv("data\genz_slang_usage_2020_2025.csv")

In [1033]:
df.shape

(535396, 22)

In [1042]:
df.describe(include="all")

,record_id,timestamp,slang_term,term_category,term_meaning,origin_platform,usage_platform,region,user_id,user_age_group,...,intensity_score,sentiment,sentiment_score,ironic_usage,likes,shares,comments,virality_score,is_viral,days_since_emergence
count,535396.000000,535396,535396,535396,535396,535396,535396,535396,535396,535396,...,535396.000000,535396,535396.000000,535396,535396.000000,535396.000000,535396.000000,535396.000000,535396,535396.000000
unique,NaN,534320,46,17,46,6,7,22,328571,5,...,NaN,3,NaN,2,NaN,NaN,NaN,NaN,2,NaN
top,NaN,2024-01-22 07:26:08,slay,approval,doing something exceptionally well,TikTok,TikTok,California,user_466578,18-24,...,NaN,positive,NaN,False,NaN,NaN,NaN,NaN,False,NaN
freq,NaN,3,19004,106901,19004,278028,214638,64047,8,187264,...,NaN,254777,NaN,477012,NaN,NaN,NaN,NaN,534679,NaN
mean,267697.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.656799,NaN,0.175213,NaN,61.483362,3.298273,7.009772,0.009765,NaN,474.526909
std,154555.656699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.229561,NaN,0.542696,NaN,227.016926,16.171007,30.638933,0.022437,NaN,269.419917
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.090000,NaN,-1.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,133848.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.505000,NaN,-0.212000,NaN,9.000000,0.000000,1.000000,0.003000,NaN,261.000000
50%,267697.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.687000,NaN,0.246000,NaN,28.000000,1.000000,3.000000,0.006000,NaN,446.000000
75%,401546.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.844000,NaN,0.633000,NaN,71.000000,4.000000,8.000000,0.012000,NaN,655.000000
max,535395.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,NaN,1.000000,NaN,35200.000000,3990.000000,6121.000000,1.000000,NaN,1428.000000

In [1044]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535396 entries, 0 to 535395
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   record_id             535396 non-null  int64
 1   timestamp             535396 non-null  object
 2   slang_term            535396 non-null  object
 3   term_category         535396 non-null  object
 4   term_meaning          535396 non-null  object
 5   origin_platform       535396 non-null  object
 6   usage_platform        535396 non-null  object
 7   region                535396 non-null  object
 8   user_id               535396 non-null  object
 9   user_age_group        535396 non-null  object
 10  usage_context         535396 non-null  object
 11  lifecycle_phase       535396 non-null  object
 12  intensity_score       535396 non-null  float64
 13  sentiment             535396 non-null  object
 14  sentiment_score       535396 non-null  float64
 15  ironic_usage          535396 non-null  bool
 16  likes                 535396 non-null  int64
 17  shares                535396 non-null  int64
 18  comments              535396 non-null  int64
 19  virality_score        535396 non-null  float64
 20  is_viral              535396 non-null  bool
 21  days_since_emergence  535396 non-null  int64
dtypes: bool(2), float64(3), int64(5), object(12)
memory usage: 82.7+ MB

In [1045]:
df.head()

,record_id,timestamp,slang_term,term_category,term_meaning,origin_platform,usage_platform,region,user_id,user_age_group,...,intensity_score,sentiment,sentiment_score,ironic_usage,likes,shares,comments,virality_score,is_viral,days_since_emergence
0,0,2020-01-01 01:23:17,simp,insult,someone overly devoted to another person,Reddit,Twitter,California,user_019223,25-30,...,0.603,negative,-0.740,False,18,2,5,0.004,False,153
1,1,2020-01-01 03:21:59,simp,insult,someone overly devoted to another person,Reddit,Twitter,Texas,user_497341,13-17,...,0.603,negative,-0.978,False,24,1,2,0.004,False,153
2,2,2020-01-01 05:31:01,vibe check,social,checking someone's mood/energy,TikTok,TikTok,Canada,user_323563,31-40,...,0.552,positive,0.384,False,121,1,0,0.013,False,92
3,3,2020-01-01 05:35:30,no cap,emphasis,"no lie, for real",Twitter,Twitter,Arizona,user_244857,18-24,...,0.551,neutral,0.167,False,47,2,1,0.006,False,214
4,4,2020-01-01 06:39:57,no cap,emphasis,"no lie, for real",Twitter,Instagram,Arizona,user_421848,13-17,...,0.551,positive,0.874,False,18,0,14,0.006,False,214

In [1048]:
df.isna().sum()

record_id               0
timestamp               0
slang_term              0
term_category           0
term_meaning            0
origin_platform         0
usage_platform          0
region                  0
user_id                 0
user_age_group          0
usage_context           0
lifecycle_phase         0
intensity_score         0
sentiment               0
sentiment_score         0
ironic_usage            0
likes                   0
shares                  0
comments                0
virality_score          0
is_viral                0
days_since_emergence    0
dtype: int64

In [ ]:
string = "A"*37
string_bits = string.encode("utf-8")

string_enc = "df765e8143ba5aa396b36b8ca894492640e089b71d92f6b33fcb9d64c702b8066606df0a37"
cipher_bits = bytes.fromhex(string_enc)

keystream = bytes(c^p for c,p in zip(cipher_bits,string_bits))

vault_hex = "c97e4bbb34cf28d7e1c51cf5deb33c5e6496fa906de2d4cb47efba16b773c8244624fd7f0b"
vault_bits = bytes.fromhex(vault_hex)
vault_plain = bytes(c^k for c,k in zip(vault_bits,keystream))

print(vault_plain.decode())

9e371fc002fb1be2d7f22acde9d5086701a1c8f65cd3b7f27e8adc258643f94727479e4b76
WIT{643567687f49e72f11c99ef3101cacc4}

In [24]:
text = "hello"
print(text)

text_bytes = text.encode()
print(text_bytes)

text_hex = text_bytes.hex()
print(text_hex)

text_bfromh = bytes.fromhex(text_hex)
print(text_bfromh)

hello
b'hello'
68656c6c6f
b'hello'