In [3]:
import pandas as pd
df = pd.read_csv("/Users/marco/Desktop/ctf-labs/raw data/jakaladata/Transactions.csv", sep = "|")

In [9]:
df["is_return"].value_counts()
df["Quantity"].value_counts()

Quantity
 1    88620
-1     7283
 2     3147
 3     3127
-3      248
-2      230
Name: count, dtype: int64

In [20]:
filteredrows = df[df["customer_id"]=="A0388141"]
print(filteredrows)

    customer_id Size  Quantity       Date Payment_Method  list_price  \
436    A0388141    L        -1  10NOV2023           Card        66.5
437    A0388141    M         1  23OCT2023           Card        87.5
438    A0388141    L         1  23OCT2023           Card        66.5
439    A0388141  NaN         1  23OCT2023           Card        63.5
440    A0388141  NaN        -1  12NOV2023           Card        63.5
441    A0388141    L         1  23OCT2023           Card       120.0
442    A0388141    M         1  23OCT2023           Card       119.0
443    A0388141    S         1  23OCT2023           Card       125.0
444    A0388141    M         1  28APR2024           Card       305.5
445    A0388141    S         1  25MAY2024           Card       250.5
446    A0388141   40         1  25MAY2024           Card       139.5
447    A0388141    M         1  24SEP2024           Card       129.0
448    A0388141   40        -1  21JUN2024           Card       139.5
449    A0388141    S         1  25MAY2024           Card       145.5
450    A0388141   40         1  25MAY2024           Card       252.5
451    A0388141    M        -1  21JUN2024           Card       149.5
452    A0388141    L         1  05OCT2024           Card       120.5
453    A0388141    M         1  25MAY2024           Card       149.5
454    A0388141    M        -1  13JUN2024           Card       149.5
455    A0388141    M        -1  07MAY2024           Card       305.5
456    A0388141    S        -1  21JUN2024           Card       250.5
457    A0388141   40        -1  21JUN2024           Card       252.5
458    A0388141   40        -1  21JUN2024           Card       252.5
459    A0388141    M        -1  02JAN2025           Card       120.5
460    A0388141    M         1  27DEC2024           Card       120.5
461    A0388141    M        -1  20OCT2024           Card       129.0

    store_channel  discount_percentage  line_amount  is_return  product_id
436    E-commerce                  0.0        -66.5          1      193392
437    E-commerce                  0.0         87.5          0      191713
438    E-commerce                  0.0         66.5          0      193392
439    E-commerce                  0.0         63.5          0      193344
440    E-commerce                  0.0        -63.5          1      193344
441    E-commerce                  0.0        120.0          0      192135
442    E-commerce                  0.0        119.0          0      193840
443    E-commerce                  0.0        125.0          0      191255
444    E-commerce                  0.0        305.5          0      188803
445    E-commerce                  0.0        250.5          0      188143
446    E-commerce                  0.0        139.5          0      190790
447    E-commerce                  0.0        129.0          0      187576
448    E-commerce                  0.0       -139.5          1      190790
449    E-commerce                  0.0        145.5          0      190507
450    E-commerce                  0.0        252.5          0      190530
451    E-commerce                  0.0       -149.5          1      190679
452    E-commerce                  0.0        120.5          0      186565
453    E-commerce                  0.0        149.5          0      190679
454    E-commerce                  0.0       -149.5          1      190679
455    E-commerce                  0.0       -305.5          1      188803
456    E-commerce                  0.0       -250.5          1      188143
457    E-commerce                  0.0       -252.5          1      190530
458    E-commerce                  0.0       -252.5          1      190530
459    E-commerce                  0.0       -120.5          1      187211
460    E-commerce                  0.0        120.5          0      187211
461    E-commerce                  0.0       -129.0          1      187576

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

df.shape

df.head()

df.tail()

df.sample(5)

df.info()

df.isna().sum() 

df.describe()

df.columns

df["column_name"].describe

df["column_name"].plot(kind="hist")

In [8]:
df.isna().sum()

customer_id               0
Size                   6742
Quantity                  0
Date                      0
Payment_Method            0
list_price                0
store_channel             0
discount_percentage       0
line_amount               0
is_return                 0
product_id                0
dtype: int64

In [5]:
df.shape

(102655, 11)

In [6]:
df.head()

,customer_id,Size,Quantity,Date,Payment_Method,list_price,store_channel,discount_percentage,line_amount,is_return,product_id
0,A0356882,XL,-1,03OCT2023,Card,286.0,E-commerce,0.0,-286.0,1,191533
1,A0356882,XL,1,10SEP2023,Card,286.0,E-commerce,0.0,286.0,0,191533
2,A0356882,S,1,17JUN2023,Card,258.0,E-commerce,0.0,258.0,0,195936
3,A0356882,S,-1,04JUL2023,Card,258.0,E-commerce,0.0,-258.0,1,195936
4,A0356882,M,1,26MAR2024,Card,211.0,E-commerce,0.0,211.0,0,189363

In [7]:
df.sample(5)

,customer_id,Size,Quantity,Date,Payment_Method,list_price,store_channel,discount_percentage,line_amount,is_return,product_id
12035,B0590930,L,1,15SEP2024,Card,147.5,Outlet,0.0,147.5,0,187101
70035,G1494527,NaN,1,28AUG2024,Cash,81.0,Retail,0.0,81.0,0,187171
4237,A1145399,XXL,1,23MAY2023,Card,274.5,Retail,0.0,274.5,0,196447
43501,E0453138,XXL,1,10MAR2023,Card,232.5,E-commerce,0.0,232.5,0,196946
69525,G1428844,M,3,23DEC2024,Cash,184.5,Retail,0.0,553.5,0,187965