In [10]:
import pandas as pd
df_customers = pd.read_csv("/Users/marco/Desktop/ctf-labs/raw data/jakaladata/Customers.csv", sep = "|")

In [23]:
import numpy as np  # numerical arrays + random generation
import pandas as pd  # tabular data manipulation
import matplotlib.pyplot as plt  # plotting
from sklearn.compose import ColumnTransformer  # apply different preprocessing to different columns
from sklearn.pipeline import Pipeline  # chain preprocessing + model into one object
from sklearn.preprocessing import OneHotEncoder, StandardScaler  # encode categoricals + scale numerics
from sklearn.cluster import KMeans  # k-means clustering algorithm
from sklearn.metrics import silhouette_score  # clustering quality metric
from sklearn.decomposition import PCA  # dimensionality reduction for visualization

In [12]:
df_customers.head(30)

,customer_id,Gender,Date_Of_Birth,province_code,province,subscription_date
0,A0356882,M,1967-03-11,AL,Alessandria,17JUN2023
1,A0357266,M,1973-07-15,TO,Torino,05MAR2023
2,A0357328,M,1992-01-06,BA,Bari,05SEP2023
3,A0357849,M,1969-09-23,FG,Foggia,28DEC2023
4,A0358076,F,1981-03-20,CT,Catania,12APR2023
5,A0358100,F,1967-03-20,SA,Salerno,08MAY2023
6,A0359209,F,1972-09-22,RN,Rimini,09APR2023
7,A0359334,M,1983-02-01,GR,Grosseto,30APR2023
8,A0359572,F,1990-08-16,OR,Oristano,01MAR2023
9,A0360371,F,1965-04-26,BR,Brindisi,05MAR2023
10,A0360603,F,1954-05-03,AR,Arezzo,24NOV2023
11,A0360718,M,1975-07-17,FI,Firenze,30SEP2023
12,A0361398,F,1962-12-08,VI,Vicenza,12MAR2023
13,A0363540,F,1970-01-18,TN,Trento,07JAN2024
14,A0363752,F,1984-11-29,CA,Cagliari,01SEP2023
15,A0363811,M,1967-02-16,FC,Forlì-Cesena,05JUN2023
16,A0366871,F,1986-05-08,BL,Belluno,02SEP2024
17,A0368654,F,1972-02-18,VI,Vicenza,05FEB2025
18,A0372446,F,1964-03-29,PA,Palermo,09APR2023
19,A0372585,F,1982-10-14,VB,Verbano-Cusio-Ossola,12MAR2023
20,A0373734,F,1970-03-21,CO,Como,23AUG2023
21,A0373809,M,1983-10-27,PZ,Potenza,21AUG2024
22,A0374512,F,1968-03-27,PO,Prato,20SEP2023
23,A0374698,F,1987-09-16,LT,Latina,09JUL2023
24,A0375324,F,1972-12-06,RM,Roma,28FEB2024
25,A0375857,M,1992-12-22,NO,Novara,14MAY2023
26,A0375919,M,1974-06-18,TN,Trento,22DEC2023
27,A0376419,F,1979-11-07,PD,Padova,02MAR2023
28,A0376748,M,1991-12-13,BS,Brescia,09MAY2023
29,A0376828,M,1981-06-28,VA,Varese,30DEC2023

In [11]:
import pandas as pd
df_marketing = pd.read_csv("/Users/marco/Desktop/ctf-labs/raw data/jakaladata/marketing_campaigns.csv", sep = "|")

In [13]:
df_marketing.head(30)

   customer_id    id_nl       date open click
0     A0356882  6934159  29OCT2023    Y     N
1     A0356882  6934157  10SEP2023    N     N
2     A0356882  6934161  24MAR2024    N     N
3     A0356882  6934158  22OCT2023    N     N
4     A0356882  6934155  25JUN2023    Y     N
5     A0356882  6934156  13AUG2023    N     N
6     A0356882  6934160  17MAR2024    N     N
7     A0356882  6934166  05JAN2025    N     N
8     A0356882  6934163  12MAY2024    N     N
9     A0356882  6934162  21APR2024    Y     N
10    A0356882  6934165  10NOV2024    Y     N
11    A0356882  6934164  08SEP2024    N     N
12    A0357266  6928493  18AUG2024    N     N
13    A0357266  6928495  06OCT2024    Y     Y
14    A0357266  6928494  08SEP2024    Y     N
15    A0357266  6928496  20OCT2024    N     N
16    A0357266  6928492  04AUG2024    N     N
17    A0357266  6928491  23JUN2024    Y     N
18    A0357266  6928486  01OCT2023    N     N
19    A0357266  6928488  05NOV2023    Y     N
20    A0357266  6928485  30JUL2023    N     N
21    A0357266  6928487  22OCT2023    Y     N
22    A0357266  6928490  24MAR2024    Y     Y
23    A0357266  6928484  07MAY2023    N     N
24    A0357266  6928489  21JAN2024    Y     N
25    A0357328  6927737  04FEB2024    Y     Y
26    A0357328  6927738  11FEB2024    N     N
27    A0357328  6927736  26NOV2023    N     N
28    A0357328  6927735  17SEP2023    N     N
29    A0357328  6927745  22DEC2024    N     N

In [14]:
df_products = pd.read_csv("//Users/marco/Desktop/ctf-labs/raw data/jakaladata/Products.csv", sep = "|")

In [15]:
df_products.head(30)

    product_id               category       Sub_Category gender
0       182061  Underwear & Nightwear            Pajamas  Child
1       182064                  Child               Kids  Child
2       182065                  Child            Newborn  Child
3       182066            Accessories        Accessories    Man
4       182068             Sportswear         Sportswear    Man
5       182069              Outerwear              Suits    Man
6       182070                Bottoms    Pants and Jeans    Man
7       182071                   Tops             Shirts    Man
8       182072                   Tops              Polos    Man
9       182073                   Tops        Sweatshirts    Man
10      182075            Accessories        Accessories  Woman
11      182076  Underwear & Nightwear          Underwear  Woman
12      182077             Sportswear         Sportswear  Woman
13      182079                Bottoms  Skirts and Shorts  Woman
14      182081                   Tops           T-Shirts  Woman
15      182082                   Tops            Blouses  Woman
16      182083              Outerwear            Dresses  Woman
17      182084                   Tops           Knitwear  Woman
18      182087  Underwear & Nightwear            Pajamas  Child
19      182089              Outerwear              Coats  Child
20      182090                  Child               Kids  Child
21      182092            Accessories        Accessories    Man
22      182094             Sportswear         Sportswear    Man
23      182095              Outerwear              Suits    Man
24      182096                Bottoms    Pants and Jeans    Man
25      182097                   Tops             Shirts    Man
26      182098                   Tops              Polos    Man
27      182100              Outerwear            Blazers    Man
28      182101            Accessories        Accessories  Woman
29      182103             Sportswear         Sportswear  Woman

In [17]:
df_transactions = pd.read_csv("/Users/marco/Desktop/ctf-labs/raw data/jakaladata/Transactions.csv", sep = "|")

In [ ]:
df_transactions.head(50)

,customer_id,Size,Quantity,Date,Payment_Method,list_price,store_channel,discount_percentage,line_amount,product_id
1,A0356882,XL,1,10SEP2023,Card,286.0,E-commerce,0.00,286.0,191533
2,A0356882,S,1,17JUN2023,Card,258.0,E-commerce,0.00,258.0,195936
4,A0356882,M,1,26MAR2024,Card,211.0,E-commerce,0.00,211.0,189363
5,A0356882,L,1,15AUG2024,Card,57.0,E-commerce,0.00,57.0,185976
7,A0356882,M,1,26MAR2024,Card,184.5,E-commerce,0.00,184.5,191016
12,A0356882,M,1,15AUG2024,Card,110.5,E-commerce,0.00,110.5,186017
13,A0356882,38,1,08JAN2024,Card,134.5,E-commerce,0.55,60.5,192184
14,A0356882,S,1,18FEB2024,Card,56.0,E-commerce,0.00,56.0,191595
16,A0356882,NaN,1,07JAN2025,Card,68.5,E-commerce,0.00,68.5,187396
17,A0357266,S,1,29DEC2024,Card,163.0,E-commerce,0.00,163.0,186115
18,A0357266,M,1,29JAN2025,Card,198.5,E-commerce,0.00,198.5,187226
21,A0357266,M,1,22FEB2024,Card,72.0,E-commerce,0.00,72.0,192773
23,A0357266,M,1,19APR2024,Card,121.0,E-commerce,0.00,121.0,188400
24,A0357266,S,1,20SEP2023,Card,70.5,E-commerce,0.00,70.5,192399
26,A0357266,M,1,20SEP2023,Card,108.5,E-commerce,0.00,108.5,191937
28,A0357266,S,1,05MAR2023,Card,83.0,E-commerce,0.35,54.0,194510
29,A0357266,M,3,20SEP2023,Card,123.5,E-commerce,0.00,370.5,191927
30,A0357328,M,2,16OCT2023,Card,112.0,E-commerce,0.00,224.0,193018
31,A0357328,L,1,05SEP2023,Card,62.5,E-commerce,0.00,62.5,196939
33,A0357328,S,1,05OCT2024,Card,67.5,E-commerce,0.00,67.5,186242
34,A0357328,S,1,02JAN2024,Card,63.0,E-commerce,0.00,63.0,193781
36,A0357328,38,2,27NOV2024,Card,182.0,E-commerce,0.45,200.2,185122
38,A0357328,L,1,27NOV2024,Card,82.5,E-commerce,0.00,82.5,186595
40,A0357849,M,1,28DEC2023,Card,194.0,E-commerce,0.00,194.0,193653
42,A0357849,XXL,1,28DEC2023,Card,104.5,E-commerce,0.00,104.5,192679
44,A0357849,L,1,08JUN2024,Card,108.5,E-commerce,0.00,108.5,190009
45,A0357849,38,1,08FEB2025,Card,209.0,E-commerce,0.00,209.0,186308
46,A0358076,38,1,12APR2023,Card,242.0,E-commerce,0.00,242.0,194586
48,A0358076,S,1,30APR2023,Card,77.0,E-commerce,0.00,77.0,194380
49,A0358076,S,1,17MAY2023,Card,65.0,E-commerce,0.00,65.0,195778
50,A0358076,P,1,30APR2023,Card,113.0,E-commerce,0.00,113.0,196284
51,A0358076,M,1,20APR2023,Card,80.0,E-commerce,0.00,80.0,196469
53,A0358076,L,1,23AUG2023,Card,163.5,E-commerce,0.00,163.5,192901
54,A0358076,NaN,1,06MAY2023,Card,31.0,E-commerce,0.00,31.0,196973
55,A0358076,G,1,23AUG2023,Card,125.5,E-commerce,0.00,125.5,192644
59,A0358076,S,1,30APR2023,Card,112.0,E-commerce,0.00,112.0,194999
60,A0358076,M,1,15SEP2023,Card,162.0,E-commerce,0.20,129.6,192811
62,A0358100,M,1,08MAY2023,Card,67.0,E-commerce,0.00,67.0,195410
64,A0358100,L,1,04NOV2023,Card,62.0,E-commerce,0.00,62.0,193834
65,A0358100,M,1,14JUN2023,Card,94.0,E-commerce,0.00,94.0,194401
67,A0358100,48,1,12FEB2024,Card,286.0,E-commerce,0.00,286.0,192912
68,A0358100,M,1,15APR2024,Card,155.5,E-commerce,0.30,108.9,188972
69,A0358100,XL,1,15APR2024,Card,80.5,E-commerce,0.00,80.5,188156
70,A0358100,38,1,29MAY2024,Card,248.5,E-commerce,0.00,248.5,189022
71,A0358100,G,1,26FEB2025,Card,85.0,E-commerce,0.00,85.0,187057
73,A0359209,M,1,15DEC2024,Card,419.0,E-commerce,0.55,188.6,186099
74,A0359209,S,1,15DEC2024,Card,105.0,E-commerce,0.00,105.0,185379
76,A0359209,M,1,15DEC2024,Card,74.5,E-commerce,0.55,33.5,185633
78,A0359209,L,1,10NOV2024,Card,91.0,E-commerce,0.00,91.0,185555
80,A0359209,M,1,19DEC2024,Card,108.0,E-commerce,0.00,108.0,185097

In [30]:
df_transactions = df_transactions[df_transactions["is_return"] != 1]

In [31]:
df_transactions.head(50)

,customer_id,Size,Quantity,Date,Payment_Method,list_price,store_channel,discount_percentage,line_amount,is_return,product_id
1,A0356882,XL,1,10SEP2023,Card,286.0,E-commerce,0.00,286.0,0,191533
2,A0356882,S,1,17JUN2023,Card,258.0,E-commerce,0.00,258.0,0,195936
4,A0356882,M,1,26MAR2024,Card,211.0,E-commerce,0.00,211.0,0,189363
5,A0356882,L,1,15AUG2024,Card,57.0,E-commerce,0.00,57.0,0,185976
7,A0356882,M,1,26MAR2024,Card,184.5,E-commerce,0.00,184.5,0,191016
12,A0356882,M,1,15AUG2024,Card,110.5,E-commerce,0.00,110.5,0,186017
13,A0356882,38,1,08JAN2024,Card,134.5,E-commerce,0.55,60.5,0,192184
14,A0356882,S,1,18FEB2024,Card,56.0,E-commerce,0.00,56.0,0,191595
16,A0356882,NaN,1,07JAN2025,Card,68.5,E-commerce,0.00,68.5,0,187396
17,A0357266,S,1,29DEC2024,Card,163.0,E-commerce,0.00,163.0,0,186115
18,A0357266,M,1,29JAN2025,Card,198.5,E-commerce,0.00,198.5,0,187226
21,A0357266,M,1,22FEB2024,Card,72.0,E-commerce,0.00,72.0,0,192773
23,A0357266,M,1,19APR2024,Card,121.0,E-commerce,0.00,121.0,0,188400
24,A0357266,S,1,20SEP2023,Card,70.5,E-commerce,0.00,70.5,0,192399
26,A0357266,M,1,20SEP2023,Card,108.5,E-commerce,0.00,108.5,0,191937
28,A0357266,S,1,05MAR2023,Card,83.0,E-commerce,0.35,54.0,0,194510
29,A0357266,M,3,20SEP2023,Card,123.5,E-commerce,0.00,370.5,0,191927
30,A0357328,M,2,16OCT2023,Card,112.0,E-commerce,0.00,224.0,0,193018
31,A0357328,L,1,05SEP2023,Card,62.5,E-commerce,0.00,62.5,0,196939
33,A0357328,S,1,05OCT2024,Card,67.5,E-commerce,0.00,67.5,0,186242
34,A0357328,S,1,02JAN2024,Card,63.0,E-commerce,0.00,63.0,0,193781
36,A0357328,38,2,27NOV2024,Card,182.0,E-commerce,0.45,200.2,0,185122
38,A0357328,L,1,27NOV2024,Card,82.5,E-commerce,0.00,82.5,0,186595
40,A0357849,M,1,28DEC2023,Card,194.0,E-commerce,0.00,194.0,0,193653
42,A0357849,XXL,1,28DEC2023,Card,104.5,E-commerce,0.00,104.5,0,192679
44,A0357849,L,1,08JUN2024,Card,108.5,E-commerce,0.00,108.5,0,190009
45,A0357849,38,1,08FEB2025,Card,209.0,E-commerce,0.00,209.0,0,186308
46,A0358076,38,1,12APR2023,Card,242.0,E-commerce,0.00,242.0,0,194586
48,A0358076,S,1,30APR2023,Card,77.0,E-commerce,0.00,77.0,0,194380
49,A0358076,S,1,17MAY2023,Card,65.0,E-commerce,0.00,65.0,0,195778
50,A0358076,P,1,30APR2023,Card,113.0,E-commerce,0.00,113.0,0,196284
51,A0358076,M,1,20APR2023,Card,80.0,E-commerce,0.00,80.0,0,196469
53,A0358076,L,1,23AUG2023,Card,163.5,E-commerce,0.00,163.5,0,192901
54,A0358076,NaN,1,06MAY2023,Card,31.0,E-commerce,0.00,31.0,0,196973
55,A0358076,G,1,23AUG2023,Card,125.5,E-commerce,0.00,125.5,0,192644
59,A0358076,S,1,30APR2023,Card,112.0,E-commerce,0.00,112.0,0,194999
60,A0358076,M,1,15SEP2023,Card,162.0,E-commerce,0.20,129.6,0,192811
62,A0358100,M,1,08MAY2023,Card,67.0,E-commerce,0.00,67.0,0,195410
64,A0358100,L,1,04NOV2023,Card,62.0,E-commerce,0.00,62.0,0,193834
65,A0358100,M,1,14JUN2023,Card,94.0,E-commerce,0.00,94.0,0,194401
67,A0358100,48,1,12FEB2024,Card,286.0,E-commerce,0.00,286.0,0,192912
68,A0358100,M,1,15APR2024,Card,155.5,E-commerce,0.30,108.9,0,188972
69,A0358100,XL,1,15APR2024,Card,80.5,E-commerce,0.00,80.5,0,188156
70,A0358100,38,1,29MAY2024,Card,248.5,E-commerce,0.00,248.5,0,189022
71,A0358100,G,1,26FEB2025,Card,85.0,E-commerce,0.00,85.0,0,187057
73,A0359209,M,1,15DEC2024,Card,419.0,E-commerce,0.55,188.6,0,186099
74,A0359209,S,1,15DEC2024,Card,105.0,E-commerce,0.00,105.0,0,185379
76,A0359209,M,1,15DEC2024,Card,74.5,E-commerce,0.55,33.5,0,185633
78,A0359209,L,1,10NOV2024,Card,91.0,E-commerce,0.00,91.0,0,185555
80,A0359209,M,1,19DEC2024,Card,108.0,E-commerce,0.00,108.0,0,185097

In [33]:
df_transactions["store_channel"].value_counts()

store_channel
Retail        67997
Outlet        18393
E-commerce     8504
Name: count, dtype: int64

In [36]:
df_transactions["Payment_Method"].value_counts()

Payment_Method
Card    67396
Cash    27498
Name: count, dtype: int64

In [42]:
df_transactions["discount_percentage"].value_counts().sort_index(ascending=False)

discount_percentage
0.65      136
0.60      274
0.55     3633
0.50     7726
0.45     5389
0.40     2205
0.35     1681
0.30     1288
0.25     1563
0.20     1553
0.15      496
0.00    68950
Name: count, dtype: int64

In [39]:
df_transactions = df_transactions.drop("is_return",axis=1) # axis=1 means drop column (axis=0 would drop rows)

In [ ]:
import pandas as pd

# Example column name: "date_of_birth"

df["date_of_birth"] = pd.to_datetime(df["date_of_birth"],errors="coerce") # convert to datetime; errors="coerce" turns invalid values into NaT

today = pd.Timestamp.today() # current timestamp

df["age"] = (
today.year - df["date_of_birth"].dt.year # basic year difference
    - ((today.month < df["date_of_birth"].dt.month) # subtract 1 if birthday hasn't occurred yet this year
       | ((today.month == df["date_of_birth"].dt.month)
          & (today.day < df["date_of_birth"].dt.day)))
)